/* Importação de fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Variáveis de cores */
:root {
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
    --green: #053b34;
    --offwhite: #f5f2d0;
}

/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    color: var(--dark);
    background: var(--offwhite);
}

/* Estilos da barra de navegação */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 4%;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%; /* Reduz a largura da barra para telas menores */
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    font-size: 18px; /* Tamanho responsivo baseado na largura da tela */
    font-weight: 600;
    white-space: nowrap; /* Impede a quebra de texto em várias linhas */
    overflow: hidden; /* Evita que o texto cortado seja exibido */
    text-overflow: ellipsis; /* Adiciona reticências quando o texto não cabe */
}

.logo span {
    color: var(--green);
}

.logo{
    margin-left: 20px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navigation ul li {
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: var(--red);
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: var(--red);
}

/* Estilos da seção "Home" */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-text {
    max-width: 37rem;
}

.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--green);
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    margin-bottom: 4rem;
}

.home-btn {
    padding: 15px 45px;
    background: var(--green);
    color: var(--white);
    border-radius: 10px;
    font-size: 700;
    transition: all 0.5s;
}

.home-btn:hover {
    background: #617e7b;
}

.home-img img {
    width: 100%;
}

.vertical-bar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    top: 63px; /* Ajuste a distância que desejar do topo */
    left: -220px;
    width: 220px;
    height: 100%;
    background-color: var(--dark);
    padding: 20px;
    transition: left 0.3s;
    z-index: 998;
}


.vertical-bar button {
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

.vertical-bar button:hover {
    background-color: #617e7b;
}

/* Estilos do ícone do menu hamburguer no lado esquerdo */
.menu-icon {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999; /* Para garantir que fique acima de outros elementos */
}

.menu-icon i {
    font-size: 2rem;
    color: var(--dark);
}

/* Estilos para telas menores (responsivo) */
@media (max-width: 785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .vertical-bar {
        top: 70px; /* Ajuste a distância que desejar do topo */
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    /* Estilos para a seção "Home" em telas menores */
    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p {
        font-size: 15px;
    }

    .home-img {
        width: 125%;
    }
}
